# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Firebase secret configs & envs
google-services.json
GoogleService-Info.plist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Native generated folders
/ios
/android
.kotlin/

# Keys & Certificates
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Metro & Debug logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# OS metadata
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
